In [8]:
#Inicializando variables
X = 10 #variable de tipo entero
print(x) #función para imprimir los valores de las variables
#Se puede utilizar comillas dobles o simples para crear una cadena 
cadena = "Hola Mundo" 
#varible de tipo cadena
print(cadena)

10
Hola Mundo

In [9]:
#Asigna un mismo valor a tres variables
x = y = z = 10
print(x,y,z)

10 10 10

In [11]:
#La función type() permite conocer el tipo de una variable
type(x)

int

In [18]:
#Inicializando cadenas
cadena1 = 'hola'
cadena2 = "Mundo"
print(cadena1)
print(cadena2)
concat_cadenas = cadena1 + cadena2 #Concatenación de cadenas  
print(concat_cadenas)

hola
Mundo
holaMundo

In [19]:
#Para concatenar un número y una cadena se debe usar la función str()
num_cadena = concat_cadenas +' '+ str(3) #Se agrega una cadena vacía para agregar un espacio 
print(num_cadena)

holaMundo 3

In [21]:
#EL valor de la variable se va a imprimir en el lugar donde se encuentre {} en la cadena 
num_cadena = "{} {} {}".format(cadena1, cadena2, 3)
print(num_cadena)

hola Mundo 3

In [23]:
#Cuando se agrega un númmero dentro de (#), el valor La variable que se encuentra en esa posicón #dentro de La función format(), será impreso.
num_cadena = "Cambiando el orden: {1} {2} {0} #".format(cadena1, cadena2, 3)
print(num_cadena)

Cambiando el orden: Mundo 3 hola #

In [24]:
print(1+5)
print(3*6)
print(10-4)
print(100/50)
print(10 % 2)
print((20*3)*6)
print(2**2)

6
18
6
2.0
0
360
4

Comparaciones

In [25]:
print (7<5) #Falso
print (7>5) #Verdadero
print ((11*3)+2 == 36 - 1) #Verdadero
print ((11 * 3)+2 >= 36) #Falso
print ("curso" != "CuRs0") #Verdadero

False
True
True
False
True

In [29]:
#Declaracion de una lista simple
lista_diasDelMes = [31,28,31,30,31,30,31,31,30,31,30,31]
print (lista_diasDelMes) #imprimir la lista completa
print (lista_diasDelMes[0]) #imprimir elemento 1
print (lista_diasDelMes [6]) #imprimir elemento 7
print (lista_diasDelMes [11]) #imprimir elemento 12

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
31
31
31

In [31]:
#Declaracion de listas anidadas
lista_numeros = [['cero', 0], ['uno',1, 'UNO'], ['dos',2], ['tres', 3], ['cuatro', 4], ['X',5]]

print (lista_numeros)           #imprimir lista completa
print (lista_numeros[0])        #imprime el elemento 0 de la lista
print (lista_numeros [1])       #imprime el elemento 1 de la lista

print (lista_numeros [2][0])    #imprime el primer elemento de la lista en la posicion 2 
print (lista_numeros [2] [1])   #imprime el segundo elemento de la lista en la posicion 2 

print (lista_numeros [1][0]) 
print (lista_numeros [1][1]) 
print (lista_numeros [1][2])

[['cero', 0], ['uno', 1, 'UNO'], ['dos', 2], ['tres', 3], ['cuatro', 4], ['X', 5]]
['cero', 0]
['uno', 1, 'UNO']
dos
2
uno
1
UNO

In [32]:
# Se cambia el valor de uno de los elementos de la lista
lista_numeros [5][0] = "cinco"
print (lista_numeros [5])

['cinco', 5]

In [37]:
# Declaracion de una tupla 
tupla_diasDelMes=(31,28,31,30,31,30,31,31,30,31,30,31)

print (tupla_diasDelMes)       #imprimir la tupla completa
print (tupla_diasDelMes[0])     #imprimir elemento 1
print (tupla_diasDelMes[3])   #imprimir elemento 4
print (tupla_diasDelMes[1])    #imprimir elemento 2

(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31)
31
30
28

In [39]:
#Declaracion de tuplas anidadas
tupla_numeros=(('cero', 0), ('uno',1, 'UNO'), ('dos',2), ('tres', 3), ('cuatro',4), ('X',5))

print (tupla_numeros)           #imprimir tupla completa

print (tupla_numeros [0])       #imprime el elemento 0 de la tupla 
print (tupla_numeros [1])       #imprime el elemento 1 de la tupla       

print (tupla_numeros [2][0])    #imprime el primer elemento de la tupla en la posicion 2
print (tupla_numeros [2][1])    #imprime el segundo elemento de la tupla en la posicion 2 

print (tupla_numeros [1][0]) 
print (tupla_numeros [1][1]) 
print (tupla_numeros [1][2])

(('cero', 0), ('uno', 1, 'UNO'), ('dos', 2), ('tres', 3), ('cuatro', 4), ('X', 5))
('cero', 0)
('uno', 1, 'UNO')
dos
2
uno
1
UNO

In [42]:
#Probando la mutabilidad de las listas vs la no mutabilidad de las tuplas 
print("valor actual {}".format(lista_diasDelMes[0]))
lista_diasDelMes [0] = 50
print("valor cambiado {}".format(lista_diasDelMes[0]))
tupla_diasDelMes [0] = 50 #Esta asignación manda un error, ya que no se pueden cambiar los valores

valor actual 50
valor cambiado 50

TypeError: 'tuple' object does not support item assignment

In [47]:

#Se debe importat la librería para hacer uso de namedtuple
from collections import namedtuple
#Se crea la tupla con nombre
#El primer argumento es el nombre de la tupla, mientras que el segundo argumento son los campos 
#p es la referencia a la tupla
planeta = namedtuple ( 'planeta', ['nombre', 'numero'])

#Se crea el planeta 1 y se agregan a la tupla los valores correspondientes a los campos

planeta1= planeta( 'Mercurio', 1)
print (planeta1)

#Se crea el planeta 2

planeta2 = planeta( 'Venus', 2)

#Se imprimen los valores de los campos
#Usando la referencia se llama a cada uno de sus campos

print (planeta1. nombre, planeta1.numero)
#Se obtienen los valores por el orden de los campos

print (planeta2[0], planeta2[1])
print('Campos de la tupla: {}'.format(planeta1._fields))

planeta(nombre='Mercurio', numero=1)
Mercurio 1
Venus 2
Campos de la tupla: ('nombre', 'numero')

Diccionarios

In [48]:
#creando un diccionario
elementos = {'hidrogeno': 1, 'helio': 2, 'carbono': 6}
print(elementos)
print(elementos['hidrogeno'])

{'hidrogeno': 1, 'helio': 2, 'carbono': 6}
1

In [50]:

#Se pueen agregar elementos al diccionario
elementos['litio'] = 3
elementos['nitrogeno'] = 8
print (elementos)
#Imprimiendo todos los elementos, nótese que los elementos no están ordenado:

{'hidrogeno': 1, 'helio': 2, 'carbono': 6, 'litio': 3, 'nitrogeno': 8}

In [51]:

#Creando un nuevo diccionario
elementos2 = {}
elementos2['H'] = {'name': 'Hydrogen', 'number': 1, 'weight': 1.00794} 
elementos2 [ 'He'] = {'name': 'Helium', 'number': 2, 'weight': 4.002602}
print (elementos2)

{'H': {'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}, 'He': {'name': 'Helium', 'number': 2, 'weight': 4.002602}}

In [52]:

#Imprimiendo los datos de un elemento del diccionario
print (elementos2[ 'H'])
print (elementos2 [ 'H']['name'])
print (elementos2[ 'H']['number'])
elementos2['H']['weight'] = 4.30 #Cambiando el valor de un elemento
print (elementos2[ 'H']['weight'])

{'name': 'Hydrogen', 'number': 1, 'weight': 1.00794}
Hydrogen
1
4.3

In [54]:
#Agregando elementos a una llave 
elementos2['H'].update({'gas noble': True}) 
print (elementos2['H'])

{'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}

In [55]:
#Muestra todos los elementos del diccionario 
print (elementos2.items())
#Muestra todas las llaves del diccionario 
print (elementos2.keys())

dict_items([('H', {'name': 'Hydrogen', 'number': 1, 'weight': 4.3, 'gas noble': True}), ('He', {'name': 'Helium', 'number': 2, 'weight': 4.002602})])
dict_keys(['H', 'He'])

In [ ]:
Funciones

In [62]:
#Las funciones pueden recibir n número de parámetros, no se necesita indicar el tipo 
def imprime_nombre(nombre):
    print( "hola " +nombre ) #Las cadenas se pueden concatenar con el +

In [63]:
#Llamada a la función
imprime_nombre ("JJ")

hola JJ

In [68]:
#Definiendo una función que regresa el cuadrado de un número
def cuadrado(x):
    return x**2

In [69]:
x = 5
#La función format() sirve para convertir los parámetros que recibe, en cadenas
# #por las llaves de la cadena.
print("El cuadrado de {} es {}".format(x, cuadrado (x))) #La función cuadrado() regresa un valor numerico

El cuadrado de 5 es 25

In [71]:

#Definiendo una función que regrese más de un valor
def varios (x):
    return x**2, X**3, x**4

In [73]:
#Los valores que regresa la función pueden ser guardado en variables separadas por , 
vall, val2, val3 = varios (2)
print("() () {}".format(vall, val2, val3))

() () 4

In [75]:
#Función con un parámetro con un valor por defecto
def cuadrado_default (x=3):
    return x**2

In [76]:
#Como la función tiene un valor por defailt, si se manda llamar la función sin especificar 
#tiene por defecto
cuadrado_default()

9

In [81]:
#La función regresa tres, valores, pero sólo nos interesa el primero y el tercero 
val4, _, val5 = varios (2)
print("{} {}".format(val4, val5))

4 16

Variables Globales

In [82]:

#Se crea una variable en el espacio global de nombres 
vg = 'Global'

In [84]:
#Se crea una función que imprime la variable global 
def funcion_v1():
    print (vg)

In [85]:
#Llamada a la función que imprime la variable global 
funcion_v1()
#Imprime la variable global 
print (vg)

Global
Global

In [87]:

#Se crea una variable local que tiene el mismo nombre que la variable global 
def funcion_v2():
    vg = "Local"
    print (vg)

In [88]:
#Llamada a la función
funcion_v2 () 
#Imprime valor local
#Imprime la variable global
print (vg)

Local
Global

In [95]:
#Se trata de imprimir el valor de la variable global, a diferencia de la función_v1() 
# se creó en el espacio local de la funcion_v3() una variable con el mismo nombre 
# por lo que se reemplaza la variable global
def funcion_v3():
    print (vg)
    vg = "Local"
print (vg)

Global

In [96]:
#Como se tiene una variable local y no se le ha asignado un valor, se genera un error 
funcion_v3 ()

UnboundLocalError: local variable 'vg' referenced before assignment

In [99]:
#Para resolver el problema anterior y especificar que se quiere hacer uso de la 
# variable global dentro de la función funcion_v4(), se tiene que agregar la 
# palabra reservada global
def funcion_v4():
    global vg 
    print (vg) 
    vg = "Local" 
    print (vg)

In [101]:
#Al momento de ejecutar la función se imprime el valor que tenía asignado vg
#antes de se modificado por la función. Después de asignar el valor, éste es impreso 
funcion_v4 ()
#Se imprime la variable global con su valor modificado
print (vg)

Global
Local
Local

Estructuras de control selectivas

In [103]:
def obtenerMayor (param1, param2):
    if param1 < param2:
        print ("[]en mayor que []". format (param2, param1))

In [105]:
obtenerMayor(7,5)